@model ForgetPasswordViewModel

@section Scripts{

    @await Html.PartialAsync("_ValidationScriptsPartial")

}

<div asp-validation-summary=ModelOnly class="alert alert-danger" role="alert">
</div>

<div class="row">
    <div class="col-md-6 offset-md-3">
        @if (TempData["SucceededMessage"] != null)
        {
            <div class="alert alert-success" role="alert">
                @TempData["SucceededMessage"]
            </div>
        }
        <div class="alert alert-info">Şifre yenileme linki,E-posta adresinize gönderilecek</div>

        <div asp-validation-summary=ModelOnly class="alert alert-danger" role="alert"></div>
        <form method="post">
            <label class="col-md-4 col-form-label" asp-for="Email"></label>
            <div class="col-md-8">
                <input asp-for="Email" class="form-control">
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>
            <div class="row mb-3">
                <div class="col-md-8 offset-md-2">
                    <button type="submit" class="btn btn-primary">Gönder</button>
                </div>
            </div>
        </form>
    </div>
</div>
