@model SignInViewModel

@{
    ViewData["Title"] = "SignIn";
}

<h1>SignIn</h1>

<div asp-validation-summary=ModelOnly class="alert alert-danger" role="alert">
</div>

<form method="post" > @*asp-route-returnUrl="@Context.Request.Query["returnUrl"]"*@ Bunu eklememek Best-Practice
    <div class="form-group">
        <label asp-for="Email"></label>
        <input type="email" class="form-control" asp-for="Email" aria-describedby="emailHelp" placeholder="Ornek@gmail.com">
        <span class="text-danger" asp-validation-for="Email"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input type="password" class="form-control" asp-for="Password" placeholder="Şifre">
        <span class="text-danger" asp-validation-for="Password"></span>

    </div>
    <br />
    <div class="form-check">
        <label class="form-check-label" asp-for="RememberMe"></label>
        <input type="checkbox" class="form-check-input" asp-for="RememberMe">
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Üye Giriş</button>
</form>